// .main-main-header {
//   z-index: 1;
//   background-color: white;
//   position: sticky;

// }

.search-container {
  grid-row: 2;
  grid-column: 1/-1;
  transform: translateY(0px) scale(1, 1);
  z-index: 100;
  opacity: 1;
  transition: 0.5s;
}

.search-container-minimized {
  transition: 0.5s;
  transform: translateY(-70px) scale(0.3, 0.6);
  grid-row: 2;
  grid-column: 1/-1;
  // position: fixed;

  z-index: 10;
  opacity: 0;
}

.search-container-details {
  grid-row: 2;
  grid-column: 1/-1;
  transform: translateY(0px) scale(1, 1);
  z-index: 100;
  opacity: 1;
  transition: 0.5s;
}

.search-container-minimized-details {
  transition: 0.5s;
  transform: translateY(-70px) scale(0.3, 0.6);
  grid-row: 2;
  grid-column: 1/-1;
  // position: fixed;

  z-index: 10;
  opacity: 0;
}

.app-header-details {
  position: static;
  display: grid;
  grid-template-columns: repeat(3, 15fr);
  height: 125px;
  transition: 0.5s;
  align-items: center;
  background-color: white;
  width: 100%;
  cursor: pointer;
  z-index: 10;
  text-decoration: none;

  & .left-section-header {
    justify-self: end;
  }

  .stays-search {
    justify-self: center;

    button {
      width: fit-content;
    }
  }

  .logo-img {
    width: 200px;
  }

  .side-nav {
    position: relative;
    border: 1px solid $light-gray;
    border-radius: 30px;
    width: 85px;
    height: 48px;

    &:hover {
      box-shadow: 1px 1px 1px 2px $light-gray;
    }
  }

  // .nav-links {
  //   position: absolute;
  //   top: 150%;
  //   width: 100%;
  //   right: 20%;
  //   display: flex;
  //   flex-direction: column;
  //   background-color: white;
  //   box-shadow: 3px 3px 3px 3px $light-gray;
  //   border: 1px solid $light-gray;
  //   z-index: 11;
  //   border-radius: 12px;
  //   width: 240px;
  //   font-weight: bold;
  //   font-size: 14px;
  // }

  // .nav-links a {
  //   font-family: Arial, Helvetica, sans-serif;
  //   padding: 10px 15px;
  //   color: $black2;

  //   text-decoration: none;

  //   &:hover {
  //     background-color: $light-gray;
  //   }
  // }

  // .Languages-btn {
  //   background-color: transparent;
  //   color: $black2;
  //   width: 50px;
  //   height: 50px;
  //   font-size: 16px;
  //   border-radius: 30px;

  //   &:hover {
  //     background-color: $main-gray-hover;
  //   }
  // }

  // .side-nav-bar {
  //   height: fit-content;
  //   background-color: transparent;
  //   color: $black2;
  //   font-size: 16px;
  // }

  .nav-icon-massages {
    margin-top: 10px;
  }

  .host-your-home-nav {
    background-color: transparent;
    color: $black2;
    font-size: 16px;
    height: 50px;
    width: 180px;

    &:hover {
      background-color: $light-gray;
      border-radius: 30px;
    }
  }

  .stays,
  .experiences {
    background-color: transparent;
    height: 40px;
    color: $main-gray;
    font-size: 16px;
    width: 130px;
    padding: 0 20px;

    &:hover {
      background-color: $light-gray;
      border-radius: 30px;
    }
  }

  .israel-img {
    width: 30px;
    clip-path: circle(50% at 50% 50%);
  }
}

.app-header-sticky {
  position: fixed;
  top: 0;
}

.app-header {
  position: sticky;
  top: 0px;
  display: grid;
  grid-template-columns: repeat(3, 15fr);
  grid-template-rows: auto;
  transition: 0.5s;
  align-items: center;
  background-color: white;
  width: 100%;
  cursor: pointer;
  z-index: 10;
  text-decoration: none;
  // font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;

  & .left-section-header {
    justify-self: end;
  }

  .stays-search {
    justify-self: center;

    button {
      width: fit-content;
    }
  }

  .logo-img {
    width: 200px;
  }

  .side-nav {
    position: relative;
    border: 1px solid $light-gray;
    border-radius: 30px;
    width: 85px;
    height: 48px;

    &:hover {
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
    }
  }

  .nav-links {
    position: absolute;
    top: 150%;
    width: 100%;
    right: 20%;
    display: flex;
    flex-direction: column;
    background-color: $main-white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
    border: 1px solid $light-gray;
    z-index: 11;
    border-radius: 12px;
    width: 240px;
    font-weight: bold;
    font-size: 14px;
    font-weight: 500;
  }

  .nav-links a {
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px 15px;
    color: $black2;

    text-decoration: none;

    &:hover {
      background-color: $main-gray-hover;
    }
  }

  .Languages-btn {
    background-color: transparent;
    color: $black2;
    width: 50px;
    height: 50px;
    font-size: 16px;
    border-radius: 30px;

    &:hover {
      background-color: $main-gray-hover;
    }
  }

  .side-nav-bar {
    height: fit-content;
    background-color: transparent;
    color: $black2;
    font-size: 16px;
  }

  .nav-icon-massages {
    margin-top: 10px;
  }

  .host-your-home-nav {
    background-color: transparent;
    color: $black2;
    font-size: 16px;
    height: 50px;
    width: 180px;

    &:hover {
      background-color: $main-gray-hover;
      border-radius: 30px;
    }
  }

  .stays,
  .experiences {
    background-color: transparent;
    height: 40px;
    color: $main-gray;
    font-size: 16px;
    width: 130px;
    padding: 0 20px;

    &:hover {
      background-color: $main-gray-hover;
      border-radius: 30px;
    }
  }

  .israel-img {
    width: 30px;
    clip-path: circle(50% at 50% 50%);
  }
}

/* Responsive Styles */

@media (max-width: 768px) {
  .app-header .stays-search {
    margin-left: 20px;
  }

  .app-header .logo-img {
    width: 150px;
  }

  .app-header .nav-links,
  .app-header .side-nav {
    width: 100%;
    border-radius: 0;
  }

  .app-header .nav-links {
    position: static;
  }
}

@media (max-width: 480px) {
  .app-header {
    flex-direction: column;
    align-items: center;
  }

  .app-header .stays-search {
    margin: 0;
  }

  .app-header .logo-img,
  .app-header .nav-links,
  .app-header .side-nav {
    width: 90%;
  }

  .app-header .nav-links {
    position: static;
  }
}
