.carusel-filter-main {
  display: inline-flex;
  width: 90.5vw;
  position: sticky;
  top: 70px;
  grid-column: 2;

  // left: -200px;
  // right: -200px;
  // grid-template-columns: auto;
  // margin: 0;
  height: 80px;
  padding: 0;
  // flex-flow: column;
  align-items: center;
  background-color: white;
  z-index: 1;


  & .swiper-wrapper {
    margin-top: 1vh;
  }

  & .swiper-button-next {
    border: 0.5px solid rgba(0, 0, 0, 0.3);
    border-radius: 30px;
    width: 27px;
    height: 27px;
    font-size: 13px;
    color: black;
    background-color: white;
    top: 40px;
    right: 2px;
    // background-color: aqua;
    box-shadow: rgb(255 255 255 / 83%) 0 0 20px 20px;

    &:hover {
      box-shadow: rgb(0 0 0 / 16%) 0 0 6px;
      scale: 1.09;
    }

    &::before {
      font-size: 13px;
      color: black;
    }

    &::after {
      font-size: 13px;
      color: black;
    }
  }

  & .swiper-button-prev {
    border: 0.5px solid rgba(0, 0, 0, 0.3);
    border-radius: 30px;
    width: 27px;
    height: 27px;
    font-size: 13px;
    color: black;
    top: 40px;
    left: 2px;
    box-shadow: rgb(255 255 255 / 83%) 0 0 20px 20px;
    // &::before {
    //   background-color: #000000;

    // }

    &::after {
      font-size: 13px;
      color: black;
    }

    &:hover {
      box-shadow: rgb(0 0 0 / 16%) 0 0 6px;
      scale: 1.09;
    }
  }

  // & button {
  //   text-decoration: none;
  //   text-align: center;
  //   padding: 0;
  //   border: none;
  //   background: none;
  //   font-family: Montserrat;
  // }

  & .swiper-slide {
    display: flex;
    margin-right: 40px;
    justify-content: center;
    align-items: flex-start;
    padding: 5px;

    & img {
      display: flex;
      justify-content: center;
      width: 24px;
      // height: 24px;
      object-fit: cover;
      margin: 0 auto;
      margin-bottom: 8px;
      // color: lightgray;
    }

    & .label-name {
      color: #000000;
      font-family: Montserrat;
      margin-right: 28px;
      text-wrap: nowrap;
      font-size: 12px;
      margin: 8px;
      padding: 8px;

      // text-align: center;
      // justify-content: center;
    }

    &:hover .label-name {
      color: black;
      padding-bottom: 5px;
      border-bottom: 1px solid #dedede;
    }

    & button {
      cursor: pointer;
      width: 100%;
      min-width: fit-content;
      max-width: fit-content;
      height: 48px;
      z-index: 1;
      opacity: 0.6;
      text-decoration: none;
      text-align: center;
      padding: 0;
      border: none;
      background: none;
      font-family: Montserrat;

      &:hover,
      &.active {
        opacity: 1;
        border-radius: 8px;

        .label-name {
          color: black;
        }
      }
    }
  }

  // display: -webkit-box;
  // display: -ms-flexbox;
  // display: -webkit-flex;
  // display: flex;
  // -webkit-box-pack: center;
  // -ms-flex-pack: center;
  // -webkit-justify-content: center;
  // justify-content: center;
  // -webkit-box-align: center;
  // -ms-flex-align: center;
  // -webkit-align-items: center;
  // align-items: center;

  // @media (max-width: 1990px) {
  //   width: 84vw;
  // }
}