.trips-page {
  font-family: Montserrat;
  color: #333;
  background-color: #fff;
  padding: 20px;

  .navigation-links {
    display: flex;
    justify-content: start;
    margin-bottom: 20px;

    a {
      padding: 10px 15px;
      text-decoration: none;
      color: #767676;

      &.active {
        color: #ff5a5f;
        border-bottom: 4px solid #ff5a5f;
      }
    }
  }

  /* main stat */

  .stat-section {
    // padding: 24px;
    // margin-bottom: 50px;
    // height: 250px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 1220px;
    margin-bottom: 30px;

    & .small-card {
      width: 350px;
      background-color: #fff;
      border-radius: 8px;
      padding: 10px 16px 10px 16px;
      margin-bottom: 20px;
      box-shadow: 0 0 14px #d9d9d980;
      transition: all 0.3s ease-in-out;

      &:hover {
        transform: scale(1.01);
      }

      & .total-sales-income {
        color: $main-green;
        font-weight: 600;
        font-size: 1.5em;
      }

      & .header-sales {
        align-items: center;
        margin: 0;
        padding-bottom: 10px;
        font-size: 2em;
        color: $main-gray;

        & i {
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: $main-red;
          height: 50px;
          width: 50px;
          border-radius: 50px;
          text-align: center;
          padding: 8px;
          box-shadow: 0 0 14px #d9d9d980;
          color: white;
        }
      }
    }

    & .content-card {
      width: 350px;
      background-color: #fff;
      border-radius: 8px;
      padding: 16px;
      margin-bottom: 24px;
      box-shadow: 0 0 14px #d9d9d980;
      transition: all 0.3s ease-in-out;
      height: 250px;

      &:hover {
        transform: scale(1.01);
      }

      & .total-sales-income {
        color: $main-green;
        font-weight: 600;
        font-size: 1.75em;
      }

      & .header-sales {
        align-items: center;
        margin: 0;
        padding-bottom: 10px;
        font-size: 2em;
        color: $main-gray;

        & i {
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: $main-red;
          height: 50px;
          width: 50px;
          border-radius: 50%;
          padding: 5px;
          box-shadow: 0 0 14px #d9d9d980;
          color: white;
        }
      }
    }

    & .chart {
      justify-content: center;

      & .pie {
        margin: 0 auto;
      }
    }
  }

  .status {
    width: 250px;
    font-size: 1.25em;
    text-align: center;
    padding: 10px;
    font-size: 1em;
    width: 150px;
    &.pending {
      color: rgb(116, 103, 1, 0.55);
    }

    &.approved {
      color: green;
    }

    &.rejected {
      color: red;
    }
  }

  .header-summary {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;

    h1 {
      font-size: 1.75rem;
      color: #484848;
      margin: 0;
    }
  }

  .dashboard-container {
    table {
      width: 100%;
      border-collapse: collapse;

      td:first-child {
        width: 200px;
      }

      td:last-child {
        width: 250px;
      }

      th,
      td {
        text-align: left;
        padding: 12px 8px;
        border-bottom: 1px solid #ebebeb;
      }

      th {
        background-color: #f7f7f7;
        color: #484848;
        align-items: center;
        width: 200px;
      }

      tr {
        &:hover {
          background-color: #f7f7f7;
        }
      }

      & .user-msg-btn {
        background-color: #ff5a5f;
        border: none;
        color: #fff;
        padding: 8px 16px;
        margin: 0 4px;
        border-radius: 4px;
        cursor: pointer;
        width: 210px;

        &:hover {
          transform: scale(1.05);
        }
      }

      .status-pending {
        color: #ffa726;
      }

      .status-approved {
        color: #66bb6a;
      }

      .status-declined {
        color: #ef5350;
      }

      .actions {
        button {
          background-color: $light-gray;
          border: none;
          color: black;
          padding: 8px 16px;
          margin: 0 4px;
          border-radius: 4px;
          cursor: pointer;
          width: 100px;

          &:hover {
            background-color: darken($main-red, 10%);
            color: white;
          }

          &:first-child {
            color: white;
            background-color: #00b894;
          }
        }
      }
    }
  }

  button {
    outline: none;

    &:focus {
      outline: none;
      box-shadow: none;
    }
  }
}
