.search-filter .input-group.guests-container {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 345px;
    /* align-items: center; */
    justify-content: center;
    z-index: 100;
    position: absolute;
    top: 164px;
    right: -160.3px;
    background-color: rgb(197, 0, 0);
    /* box-sizing: border-box; */
    padding: 20px;
    border-radius: 25px;

    & .guest-selector {
        background-color: white;
        display: flex;
        width: 360px;
        height: 80px;
        text-align: start;
        align-items: center;
        justify-content: space-between;
        padding: 5px;


        & .guest-title {
            padding: 8px;
            font-size: 15px;
            margin-bottom: 5px;

            & h4,
            h5 {
                padding: 2px;
                margin: 4px;
            }
        }

        & .guests-filter-btns {
            display: flex;
            align-items: center;

        }


        & button {
            border-radius: 50%;
            background-color: white;
            border: 1px solid $light-gray;
            color: gray;
            // padding: 10px;
            text-align: center;
            font-size: 16px;
        }
    }


}