.min-filter {
  opacity: 1;
  transition: 0.5;
  z-index: 15;
  margin-top: 10px;
  grid-template-rows: 1/-1;
}

.min-filter-ben {
  opacity: 0;
  transition: 0.5;
}

.main-min-filter {
  margin: 0 auto;
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 32px;
  box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.08);
  border: 1px solid $light-gray;
  width: fit-content;
  height: 46px;
  justify-content: space-around;
  padding: 0 0 0 8px;
  cursor: pointer;

  & .where-min-filter {
    font-weight: 600;
    font-size: 14px;
    border-right: 0.1px solid lightgray;
    padding: 0 16px;
    color: #222222;
  }

  & .any-min-filter {
    font-weight: 600;
    font-size: 14px;
    border-right: 0.1px solid lightgray;
    padding: 0 16px;
    color: #222222;
  }

  & .guests-min-filter {
    font-weight: 400;
    font-size: 14px;
    padding: 0 16px;
    color: #717171;
  }

  & .search-min-filter {
    background-color: #ff385c;
    color: white;
    text-align: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding: 5px;
    margin-right: 5px;
    font-size: 14px;
    cursor: pointer;
  }

  // @media(width<=1100px) {
  //   width: 370px;
  //   margin-right: 20px;
  // }
}


@media (max-width:860px) {
  .min-filter {
    ///need fix it!
    width: 100%;
    display: grid;
    grid-column: 1 /-1;

    .main-min-filter {
      width: max-content;
    }
  }
}

@media (max-width:380px) {
  .min-filter {
    width: 100%;
    display: grid;
    grid-column: 1/-1;
    
    .main-min-filter {
      width: 100%;

      .guests-min-filter,
      .any-min-filter,
      .where-min-filter {
        font-size: 12px !important;
      }
    }
  }
}