.line-payment-details {
  position: relative;

  .btn-next,.btn-prev {
    display: none;
  }
  & .payment-modal {
    position: sticky;
    top: 100px;
    height: max-content;
    margin-top: 20px;
    position: sticky;
    width: max-content;
    height: fit-content;
    border: 1px solid rgb(221, 221, 221);
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px;
    padding: 24px 24px 20px 24px;

    & h1 {
      font-size: 1.23em;
      margin: 0;
      margin-bottom: 22px;
      font-weight: 450;

      span {
        font-size: 0.73em;
        font-weight: 200;
      }
    }

    & .payment-date-picker {
      display: flex;
      flex-direction: column;
      margin-bottom: 16px;

      & div {
        display: flex;

        & .in,
        .out {
          width: 160px;
          z-index: 11;
          border: 0.1px solid $light-gray;
          height: 56px;
        }

        & .in {
          border-radius: 8px 0 0 0;
          position: relative;

          & .header-label {
            position: absolute;
            top: 5px;
            padding: 3px 6px;

            // margin-right: 5px;
            font-size: 10px;
            font-weight: 700;
            color: #333;
            user-select: none;
          }

          & .start-input {
            border: none;
            outline: none;
            padding: 24px 12px 10px 6px;

            font-size: 14px;
            font-weight: 400;
            background-color: transparent;
          }
        }

        & .out {
          border-radius: 0 8px 0 0;
          border-left: none;
          position: relative;

          & .header-label {
            position: absolute;
            top: 5px;
            padding: 3px 6px;

            // margin-right: 5px;
            font-size: 10px;
            font-weight: 700;
            color: #333;
            user-select: none;
          }

          & .end-input {
            border: none;
            padding: 24px 12px 10px 6px;

            font-size: 14px;
            font-weight: 400;
            background-color: transparent;
          }
        }
      }

      & .custom-input {
        border: 0.1px solid $light-gray;
        padding: 26px 36px 10px 12px;
        position: relative;
        border-radius: 0 0 8px 8px;
        border-top: none;
        height: 56px;

        & .header-label {
          position: absolute;
          top: 5px;
          font-size: 10px;
          font-weight: 700;
          color: #333;
          user-select: none;
        }

        .guest-input {
          border: none;
          outline: none;

          font-size: 14px;
          font-weight: 400;
          background-color: transparent;
        }

        .dropdown-arrow {
          margin-left: auto;
          user-select: none;
          color: $main-gray;
          position: absolute;
          top: 25%;
          left: 90%;
        }

        .guest-input::-ms-expand {
          display: none;
        }
      }
    }

    & .payment-guests-count {
      position: absolute;
      height: 400px;
      background-color: white;
      border-radius: 12px;
      // display: flex;

      flex-direction: column;
      align-items: center;
      top: 179px;
      left: -23px;
      width: 100%;
      box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.08);
      justify-content: space-between;

      & .guest-selector {
        background-color: white;
        display: flex;
        width: 360px;
        height: 80px;
        text-align: start;
        align-items: center;
        justify-content: space-between;
        padding: 5px;
        text-align-last: justify;

        & .guest-title {
          padding: 8px;
          font-size: 15px;
          margin-bottom: 5px;

          & h4 {
            font-weight: 500;
            color: $black2;
          }

          & h5 {
            font-weight: 400;
            color: $main-gray;
          }

          & h4,
          h5 {
            padding: 2px;
            margin: 4px;
            font-family: Montserrat;
          }
        }
      }

      .guests-filter-btns {
        text-align: center;
        display: flex;

        & span {
          padding: 10px;
          display: inline-block;
          min-width: 30px;
        }

        & button {
          border-radius: 50px;
          text-align: center;
          background-color: white;
          color: rgb(149, 148, 148);
          border: 1px solid gray;
          font-size: 16px;
          text-align: center;
          width: 32px;
          height: 32px;
          padding: 6px 11px;
        }

        & .button-disabeld {
          border-radius: 50px;
          font-size: 16px;
          width: 32px;
          height: 32px;
          padding-left: 10px;
        }
      }

      & .guest-payment {
        display: flex;
        height: 90px;
      }
    }

    & .price-modal-btn,
    .fee-modal-btn {
      font-size: 0.9em;
      text-decoration-line: underline;
      display: flex;
      width: 100%;
      justify-content: space-between;
      cursor: pointer;
      padding: 16px 0 0;

      .price {
        text-decoration: none;
      }
    }

    & .calendar {
      position: absolute;
      top: 45px;
      left: 0px;
      width: 200%;
      margin-top: 10px;
      padding-top: 60px;
    }

    & .price-modal {
      position: absolute;
      // width: 150px;
      background-color: white;
      box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.08);
      border-radius: 12px;

      top: 312px;
      left: -260px;
      width: 400px;

      & ul {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 8px 24px 24px 24px;

        & li {
          display: flex;
          justify-content: space-between;
          // margin: 5px 0px;
          padding-top: 16px;
          font-size: 0.889em;
        }
      }

      & #price-title {
        font-size: 0.889em;
        text-align: center;
        color: #222222;
        padding: 8px 0;
        align-items: center;
        justify-content: center;
        margin-top: 18px;
      }

      & .modal-exit-btn {
        background-color: transparent;
        border: none;
        color: #222222;
        font-size: 0.889em;
        position: absolute;
        top: 14px;
        left: 5px;

        & :hover {
          border-radius: 50%;
          background-color: $light-gray;
        }
      }

      & div {
        display: flex;
        justify-content: space-between;
        font-weight: 600;
        color: #222222;
        font-size: 0.889em;
        padding: 24px;
      }
    }

    & h4 {
      font-size: 0.78em;
      margin: 0;
      margin-top: 16px;
      width: 100%;
      text-align: center;
      font-weight: 200;
    }

    & h3 {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 0.9em;
      margin: 0;
      padding-top: 24px;
    }

    & hr {
      border: none;
      height: 1px;
      background-color: $light-gray;
      margin: 9px 0 0 0;
      margin-top: 24px;
    }

    & form .reserve-btn {
      width: 100%;
      margin-right: 5px;
      height: 48px;
      border-radius: 8px;
      font-size: 1em;
      font-weight: 500;
      transition: background-color 0.3s;
      color: white;
    }
  }
}

@media (max-width: 1200px) {
  .payment-date-picker {
    & div {

      & .out,
      .in {
        max-width: 130px;
      }
    }
  }
}


@media (max-width:776px) {
  .actions-btn{
    width: 100%;
    .btn-next {
      display: block;
      width: 100%;
      margin-right: 5px;
      height: 48px;
      border-radius: 8px;
      font-size: 1em;
      font-weight: 500;
      transition: background-color 0.3s;
      color: white;
      background-color: rgb(255, 56, 92);
      cursor: pointer;
    }
  
    .btn-prev{
      display: block;
      width: 100%;
      margin-right: 5px;
      height: 48px;
      border-radius: 8px;
      font-size: 1em;
      font-weight: 500;
      transition: background-color 0.3s;
      color: rgb(0, 0, 0);
      background-color: rgb(255, 255, 255);
      cursor: pointer;
    }
  }
  .line-payment-details {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: white;
    border-top: 1px solid $light-gray;
    z-index: 1000;
    .payment-modal {
      width: 100%;
      display: flex;
      grid-template-columns: 1fr 2fr 1fr;
      padding:0px 1em 8px 1em;
      align-items: center;
      margin: 0px;
      justify-content:space-between;
      // justify-self: center;
      border: 0px solid;
      box-shadow: none;
      max-width: 100%;

      .price-modal-btn,.fee-modal-btn,h3,h4,hr{
        display: none ;
      }
    
      .payment-guests-count{
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
        display: flex;
        // justify-content: center;

        .guest-selector{
          width: 100%;
        }
      }
      .calendar{
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
        margin: 0px;
        border-radius: 0px;
        .datepicker-footer{
          display: none;
        }

        
      } 
      .date-pick{
        transform:none
      }
      h1{
        margin: 0px;
      }

      .payment-date-picker{
        display: none;
      }
    }
  }

  .details-layout .details-header-observer {
    display: none;
  }

}