.search-filter {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 50px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  border: 1px solid $light-gray;
  padding: 10px;
  height: 70px;
  max-width: 850px;
  margin: auto;

  .input-group {
    display: flex;
    flex-direction: column;
    border-right: 1px solid $light-gray;
    margin-right: 10px;
    flex-grow: 1;

    &:last-of-type {
      border-right: none;
    }

    &:hover {
      background-color: gray;
    }

    input {
      border: none;
      margin-right: 10px;
      padding: 10px;
      border-radius: 50px;
      outline: none;
      font-size: 16px;

      &::placeholder {
        color: #cccccc;
      }

      &:focus {
        box-shadow: 0 0 0 2px rgba(130, 130, 130, 0.5);
      }

      &:hover {
        background-color: gray;
      }
    }
  }

  .search-btn {
    background-color: #ff385c;
    color: white;
    border: none;
    border-radius: 50px;
    padding: 10px 10px;
    font-size: 16px;
    cursor: pointer;
    outline: none;
    width: 50px;
    height: 50px;
    margin-right: 10px;

    i {
      font-size: 20px;
    }

    &:hover {
      background-color: darken(#ff385c, 10%);
    }
  }
}
