.stay-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 20px));
  gap: 20px;
  padding: 0;
  grid-auto-flow: dense;

  // display: grid;
  // grid-template-columns: repeat(6, 1fr);
  // grid-template-rows: 0;
  list-style: none;
}
