.stay-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;

    // display: grid;
    // grid-template-columns: repeat(6, 1fr);
    // grid-template-rows: 0;
    list-style: none;




}

.stay-preview {
    img {
        border-radius: 10px;
    }
}

.link-no-decoration,
.link-no-decoration:visited,
.link-no-decoration:hover,
.link-no-decoration:active {
    text-decoration: none;
    color: black;

    .stay-preview {
        grid-column: 2;

    }
}