.app-header-trips {
  position: sticky;
  top: 0px;
  display: flex;
  grid-template-rows: auto;
  transition: 0.5s;
  align-items: center;
  background-color: white;
  width: 100%;
  cursor: pointer;
  z-index: 10;
  text-decoration: none;
  border-bottom: 1px solid lightgray;
  padding: 0 5em;
  grid-column: 1/-1;
  transition: 0.5s;

  & .left-section-header {
    justify-self: end;
  }

  .stays-search {
    justify-self: center;

    button {
      width: fit-content;
    }
  }

  .logo-img {
    width: 150px;
  }

  .side-nav-trips {
    position: relative;
    border: 1px solid $light-gray;
    border-radius: 30px;
    width: 85px;
    height: 48px;

    &:hover {
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
    }
  }

  .nav-links-trips {
    position: absolute;
    top: 120%;
    width: 100%;
    right: 0%;
    display: flex;
    flex-direction: column;
    background-color: $main-white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
    border: 1px solid $light-gray;
    z-index: 1000;
    border-radius: 12px;
    width: 240px;
    font-weight: bold;
    font-size: 14px;
    font-weight: 500;
  }

  .nav-links-trips a {
    font-family: Montserrat;
    padding: 10px 15px;
    color: $black2;

    text-decoration: none;

    &:hover {
      background-color: $main-gray-hover;
    }
  }

  .Languages-btn {
    background-color: transparent;
    color: $black2;
    width: 50px;
    height: 50px;
    font-size: 16px;
    border-radius: 30px;

    &:hover {
      background-color: $main-gray-hover;
    }
  }

  .side-nav-bar {
    height: fit-content;
    background-color: transparent;
    color: $black2;
    font-size: 16px;
  }

  .nav-icon-massages {
    margin-top: 10px;
  }

  .host-your-home-nav {
    background-color: transparent;
    color: $black2;
    font-size: 14px;
    height: 50px;
    width: 140px;
    padding: 0;
    margin: 0;

    &:hover {
      background-color: $main-gray-hover;
      border-radius: 30px;
    }
  }

  .stays,
  .experiences {
    background-color: transparent;
    height: 40px;
    color: $main-gray;
    font-size: 16px;
    width: 130px;
    padding: 0 20px;

    &:hover {
      background-color: $main-gray-hover;
      border-radius: 30px;
    }
  }

  .israel-img {
    width: 30px;
    clip-path: circle(50% at 50% 50%);
  }
}

/*trips main page */

.trips-page {
  font-family: Montserrat;
  color: #333;
  background-color: #fff;
  padding: 20px;

  & .main-card-section {
    display: flex;
    flex-direction: row;
  }

  .navigation-links {
    display: flex;
    justify-content: start;
    margin-bottom: 20px;

    a {
      padding: 10px 15px;
      text-decoration: none;
      color: #767676;

      &.active {
        color: #ff5a5f;
        border-bottom: 4px solid #ff5a5f;
      }
    }
  }

  .trips-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(800px, 1fr));
    gap: 20px;
  }

  .trip-card {
    position: relative;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid rgb(221, 221, 221);
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px;
    padding-bottom: 0;
    padding-top: 0;
    max-width: 800px;

    & .location-details-trips {
      border-left: 1px solid $light-gray;
      padding-left: 10px;
      margin: 0;

      & .location-details-trips-card {
        font-size: 0.875em;
        color: $main-gray;
        padding: 0;
      }
    }

    & .add-to-calender {
      display: flex;
      position: absolute;
      justify-content: center;
      align-items: center;
      padding-right: 5px;
      box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px;
      // margin-left: 740px;
      z-index: 9999;
      gap: 8px;
      height: 50px;
      width: 50px;
      right: 0;
      border: none;
      background: #ff385c;
      border-radius: 50px;
      cursor: pointer;

      & .lable {
        line-height: 22px;
        font-size: 16px;
        color: #fff;
        font-family: Montserrat;
        letter-spacing: 1px;
      }

      &:hover {
        transform: scale(1.03);
      }

      &:hover .svg-icon {
        animation: slope 1s linear infinite;
      }

      @keyframes slope {
        0% {
        }

        50% {
          transform: rotate(10deg);
        }

        100% {
        }
      }
    }

    & .trip-card-header {
      align-items: center;
      // margin-left: 15px;
      max-width: 500px;
      // min-width: 200px;
      width: 100%;

      & .israel-img {
        width: 40px;
        clip-path: circle(50% at 50% 50%);
      }

      & .host-name-trips {
        padding: 10px;
        font-size: 14px;
      }
    }

    & .card-trips-footer {
      border-top: 1px solid $light-gray;

      align-items: center;
      height: 20px;

      & .price-trips-card {
        font-size: 1em;
        padding-left: 10px;
        width: 200px;
      }

      & span {
        font-size: 1em;
      }
    }

    & .head-section {
      padding-top: 20px;
      padding-left: 10px;
      border-bottom: 1px solid $light-gray;
    }

    & .stay-name-trips-card {
      color: $main-gray;
      padding-bottom: 10px;
      padding-top: 5px;
      font-weight: 400;
    }

    h2 {
      margin: 0;
      color: #333;
    }

    strong {
      color: #333;
      margin-right: 10px;
    }

    .details-section-trips {
      max-width: 400px;
      min-width: 200px;

      & p {
        // padding: 10px 0 10px 0;
        line-height: 1.5;
        color: #666;
      }
    }

    & .img-trips {
      position: relative;
      & .trips-stay-img {
        width: 100%;
        min-width: 150px;
        height: auto;
        display: block;
        /* This removes any extra space below the image */
        border-radius: 8px;
        /* Keeps the border radius if desired */
        box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px;
        /* Keeps the shadow if desired */
      }
    }

    .status {
      display: inline-block;
      padding: 2px 5px;
      border-radius: 4px;
      color: #fff;
      width: 250px;
      font-size: 1em;
      text-align: center;
      margin-right: 5px;

      &.pending {
        // background-color: #ffc107;
        color: $main-white;
        color: #ffc107;
      }

      &.approved {
        // background-color: #28a745;
        color: $main-white;
        color: #28a745;
      }

      &.cancelled {
        // background-color: #dc3545;
        color: $main-white;
        color: #ff385c;
      }
    }
  }
}

/** loading page **/
.loading-bar {
  margin: 100px auto;

  & .loading-trips-title {
    font-size: 50px;
    // margin: 100px auto;
    color: #ff5a5f;
  }
}

.loader-trips {
  display: flex;
  justify-content: center;
  align-items: center;
  /* Add these properties to position the loader properly */
  position: relative;
  width: 90px;
  height: 103px;
  z-index: 1;
}

.loader-trips div {
  position: absolute;
  width: 50px;
  height: 31px;
}

.rot {
  transform: rotate(150deg);
}

.rot2 {
  transform: rotate(20deg);
}

.loader-trips div:nth-of-type(2) {
  transform: rotate(60deg);
}

.loader-trips div:nth-of-type(3) {
  transform: rotate(-60deg);
}

.loader-trips div div {
  width: 100%;
  height: 100%;
  position: relative;
}

.loader-trips div div span {
  position: absolute;
  width: 4px;
  height: 0%;
  background: #053146;
  z-index: 1;
}

.h1 {
  left: 0;
  animation: load1 3.2s ease infinite;
}

.h2 {
  right: 0;
  animation: load2 3.2s ease 0.4s infinite;
}

.h3 {
  right: 0;
  animation: load3 3.2s ease 0.8s infinite;
}

.h4 {
  top: 10px;
  left: 23px;
  animation: load4 3.2s ease 1s infinite;
  transform: rotate(90deg);
}

.h5 {
  bottom: 0;
  animation: load5 3.2s ease 1.2s infinite;
}

.h6 {
  left: 0;
  animation: load6 3.2s ease 1.3s infinite;
}

@keyframes load1 {
  0% {
    bottom: 0;
    height: 0;
  }

  6.944444444% {
    bottom: 0;
    height: 100%;
  }

  50% {
    top: 0;
    height: 100%;
  }

  59.944444433% {
    top: 0;
    height: 0;
  }

  /*   91.6666667%{top:0;height:0%;} */
}

@keyframes load2 {
  0% {
    top: 0;
    height: 0;
  }

  6.944444444% {
    top: 0;
    height: 100%;
  }

  50% {
    bottom: 0;
    height: 100%;
  }

  59.944444433% {
    bottom: 0;
    height: 0;
  }

  /*   91.6666667%{bottom:0;height:0%} */
}

@keyframes load3 {
  0% {
    top: 0;
    height: 0;
  }

  6.944444444% {
    top: 0;
    height: 100%;
  }

  50% {
    bottom: 0;
    height: 100%;
  }

  59.94444443% {
    bottom: 0;
    height: 0;
  }

  /*   91.6666667%{bottom:0;height:0%;} */
}

@keyframes load4 {
  0% {
    top: 37px;
    left: 23px;
    height: 134%;
  }

  6.944444444% {
    top: 10px;
    height: 134%;
  }

  50% {
    bottom: 10px;
    height: 134%;
  }

  59.94444443% {
    bottom: 0;
    height: 0;
  }

  /*   91.6666667%{bottom:0;height:0%;} */
}

@keyframes load5 {
  0% {
    bottom: 0;
    height: 0;
  }

  6.944444444% {
    bottom: 0;
    height: 100%;
  }

  50% {
    top: 0;
    height: 100%;
  }

  59.94444443% {
    top: 0;
    height: 0;
  }

  /*   91.6666667%{top:0;height:0%;} */
}

@keyframes load6 {
  0% {
    bottom: 0;
    height: 0;
  }

  6.944444444% {
    bottom: 0;
    height: 100%;
  }

  50% {
    top: 0;
    height: 100%;
  }

  59.94444443% {
    top: 0;
    height: 0;
  }
}

/* Footer */

.app-footer {
  display: none;
  height: 70px;

  .footer-nav {
    display: flex;
    justify-content: space-around;
    padding: 0.5em;
    text-align: center;
  }

  .footer-nav-link {
    text-decoration: none;
    color: #333;
  }
}

@media (max-width: 860px) {
  .social-icons-container {
    & .social-header-trips {
      display: flex;
      justify-content: flex-start;
      padding: 0;
      text-decoration: none;
    }
  }
  .app-footer {
    display: flex;
    flex-direction: column;
    padding-top: 5px;

    .footer-nav {
      display: flex;
      justify-content: space-around;
      padding: 0.5em;
      text-align: center;
    }

    .footer-nav-link {
      display: flex;
      text-decoration: none;
      color: #333;
      flex-direction: column;
      font-size: 14px;

      i {
        font-size: 26px;
      }
    }
  }

  .example-2 {
    padding: 0;
    justify-content: start;
    margin-left: -20px;
  }
  .app-header-trips {
    padding: 0;

    & .left-section-header {
      display: none;
    }
  }

  .trip-card-header {
    & .card-trips-footer {
      padding: 40px 0 40px 0;
      font-size: 14px;

      & .status {
        display: flex;
        flex-direction: column;
      }
    }
  }

  .past-trips {
    flex-direction: column;

    & > * {
      padding: 0;
      // text-align: center;
    }

    & .last-trip-card {
      padding-bottom: 20px;
    }
  }

  .trips-page {
    & .social-header-trips {
      padding: 0;
    }

    & .navigation-links {
      & .active {
        display: none;
      }
    }

    & .upcoming-trips-title {
      font-size: 1.5em;
      // padding-bottom: 20px;
      padding: 0;
      // border-top: 1px solid $light-gray;
    }

    & .trips-container {
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

      & .trip-card {
        max-width: 800px;

        & .main-card-section {
          display: flex;
          flex-direction: column;
        }
      }
    }
  }
}

// @media (max-width: 860px) {
//   .main-container {
//     grid-template-columns: 20px 600px 20px;

//     & .app-header-trips {
//       display: flex;
//       justify-content: center;
//       padding: 0 30px;
//       height: 50px;

//       & .logo-img {
//         width: 100px;
//         margin: 0;
//       }

//       .stays-search,
//       .side-nav-trips,
//       .nav-links-trips,
//       .Languages-btn,
//       .side-nav-bar,
//       .host-your-home-nav,
//       .stays,
//       .experiences {
//         display: none;
//       }
//     }

//     .trips-container {
//       display: grid;
//       grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
//       margin: 0 auto;
//       gap: 20px;
//     }

//     .trips-page {
//       padding: 5px; /* Reduced padding */
//       display: grid;

//       & .navigation-links {
//         display: none;
//       }

//       & .main-card-section {
//         display: flex;
//         flex-direction: column;
//         & .img-trips {
//           grid-area: img; /* Image takes the 'img' area */
//           margin-top: 10px; /* Space above the image */

//           .trips-stay-img {
//             border-radius: 0; /* Remove border radius */
//             box-shadow: none; /* Remove box shadow */
//             width: 200px;
//           }
//         }

//         & .trip-card {
//           display: grid;
//           grid-template-areas:
//             "header"
//             "img"
//             "details";
//           gap: 5px; /* Add gaps between grid items for spacing */

//           & .trip-card-header {
//             grid-area: header; /* Place header in the 'header' area */
//           }

//           & .details-section-trips {
//             grid-area: details; /* Details in 'details' area */
//           }

//           & .location-details-trips {
//             border-left: none; /* Remove border since it's now a vertical layout */
//           }
//         }
//       }

//       .social-icons-container {
//         display: grid;
//         justify-content: start;
//         padding-left: 20px;

//         & .social-header-trips {
//           display: none;
//         }
//       }

//       .loader-trips {
//         width: 50px; /* Adjust size for mobile */
//         height: 56px;
//       }

//       .past-trips-section {
//         padding: 10px; /* Consistent padding */
//         .past-trips {
//           flex-direction: column; /* Vertical stacking */
//           .last-trip-card {
//             padding: 10px 0; /* Space between cards */
//           }
//         }
//       }
//     }
//   }
// }
