/*map search*/
.maps-search {
  position: absolute;
  display: grid;

  grid-template-areas:
    "title . ."
    "all spain europe"
    "usa greece south";
  top: 100%;
  box-shadow: 0 3px 12px 0 rgb(0 0 0/0.15);
  z-index: 10;
  border-radius: 32px;
  background-color: white;
  width: fit-content;
  align-items: center;
  justify-content: center;
  justify-items: center;
  padding: 32px 24px 24px;

  & .country-filter {
    padding: 8px;

    &:hover {
      background-color: $light-gray;
      border-radius: 12px;
    }
  }

  &.input-group {
    display: flex;
    flex-direction: column;
  }

  & h4 {
    font-size: 0.875em;
    margin: 0 2px;
    font-family: Montserrat;
    font-weight: 400;
  }

  & img {
    width: 108px;
    border: 1px solid $light-gray;
    border-radius: 10px;
  }

  & .img-south {
    grid-area: south;
  }

  & .img-usa {
    grid-area: usa;
  }

  & .img-greece {
    grid-area: greece;
  }

  & .img-italy {
    grid-area: spain;
  }

  & .img-flexible {
    grid-area: all;
  }

  & .img-europe {
    grid-area: europe;
  }

  & h5 {
    grid-area: title;
    font-size: 0.875em;
    align-items: start;
    margin: 0 0 16px 5px;
  }
}

.date-pick {
  position: absolute;
  margin-top: 20px;
  width: 100vw;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  border: 2px solid $light-gray;
  z-index: 10;
  width: 1000px;
  border-radius: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;


}

.datepicker-header {
  display: flex;
  justify-content: center;
  background-color: $light-gray;
  justify-content: center;
  width: 300px;
  border-radius: 30px;
  margin: auto;
  padding: 5px 5px;

  .exact-date {
    background-color: #ffff;
    border: 1px solid $background-clr;
    color: $black2;
    flex-wrap: wrap;
    font-size: 14px;
    font-weight: 400;
    width: 110px;
    border: none;
    padding: 6px 16px;
    margin: 0 4px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 30px;

    &:focus,
    &:hover {
      outline: none;
      box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
    }
  }
}

.btn-next,.btn-prev {
  display: none;
}

.datepicker-range-button {
  background-color: rgb(255, 255, 255);
  border: 1px solid $light-gray-2;
  color: $black2;
  padding: 8px 16px;
  margin: 0 4px;
  cursor: pointer;
  border-radius: 30px;
  font-size: 12px;

  &:focus,
  &:hover {
    outline: none;
    background-color: #ebebeb;
  }
}

.react-datepicker__input-container {
  display: none;
  //   width: auto;
}

.react-datepicker__day--in-selecting-range:not(.react-datepicker__day--in-range, .react-datepicker__month-text--in-range, .react-datepicker__quarter-text--in-range, .react-datepicker__year-text--in-range) {
  background-color: black;
}

.react-datepicker__day--selected,
.react-datepicker__day--in-range {}

.react-datepicker__day {
  width: 48px; // Increase size for larger hit area
  line-height: 48px; // Center text vertically
  font-size: 16px; // Make the font size larger
  margin: 4px; // Increase spacing between days
  border-radius: 50%; // Keep the circular shape

  &:hover {
    background-color: #f0f0f0; // Light grey background on hover
    color: #333; // Darker text color for contrast
  }
}

.react-datepicker-popper {
  position: static !important; // Resets to default positioning
  left: auto !important; // Resets to default
  top: auto !important; // Resets to default
  transform: none !important; // Removes the translation transform
}

.datepicker-tab {
  background-color: transparent;
  border-radius: 30px;
  color: $black2;
  width: 150px;
  height: 40px;
  font-weight: 600;
}

.dates {
  background-color: white;
  font-size: 0.875em;
  border-radius: 30px;
  color: $black2;
  width: 150px;
  height: 40px;
  font-weight: 600;
}

.react-datepicker-popper .react-datepicker__triangle {
  display: none;
}

.react-datepicker__header {
  background-color: white;
}

.react-datepicker__current-month {
  font-weight: normal;
  font-size: 1.125em;
}

.react-datepicker {
  display: flex;
  justify-content: space-around;
  width: 100%;
  font-family: Montserrat;

  box-sizing: border-box;
  padding: 5px;
  border: none;

  &__header {
    background-color: white;
    border-bottom: none;
  }

  &__current-month {
    font-size: 1.2em;
    margin-bottom: 5px;
    font-weight: bold;
  }

  &__month-container {
    display: inline-block;
    margin-right: 10px;
  }

  &__navigation {
    top: 1px;

    &--next,
    &--previous {
      cursor: pointer;
    }
  }

  &__month {
    margin: 0;
  }

  &__day-names,
  &__week {
    display: flex;
    height: 50px;
    justify-content: space-around;
  }

  // &_week {}

  &__day-name,
  &__day {
    width: 40px;
    line-height: 40px;
    text-align: center;
  }

  &__day {
    border-radius: 50%;

    &:hover {
      background-color: transparent;
      color: black;
      border: 1px solid black;
      border-radius: 50px;
    }

    &--selected,
    &--in-range,
    &--in-selecting-range {
      background-color: $black2;
      //   background-color: transparent;
      //   color: black;
    }
  }

  &__day--keyboard-selected {
    background-color: black;
    color: white;
  }

  &__day--outside-month {
    color: #ccc;
  }
}

.datepicker-footer {
  display: flex;
  padding-top: 16px;
  color: $black2;
  padding-left: 65px;

  .exact-date {
    border: 1px solid black;
    background-color: $light-gray;
    width: fit-content;
  }
}

.past-date {
  color: #ccc; // The color for past dates
}

/*filter need to marge */
.search-filter {
  display: flex;
  position: relative;
  // justify-content: space-between;
  align-items: center;
  background-color: white;
  border-radius: 32px;
  box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.08);
  border: 1px solid $light-gray;
  height: 65px;
  max-width: 760px;
  margin: 0 auto;
  margin-bottom: 20px;
  cursor: pointer;

  .destination-txt-input {
    list-style-type: none;
    display: flex;

    flex-direction: column;
    width: 400px;
    height: 200px;
    padding-top: 15px;
    padding-left: 20px;
    z-index: 10;
    position: absolute;
    top: 100%;
    right: 48%;
    background-color: white;
    border: 1px solid $light-gray;
    border-radius: 25px;
    cursor: pointer;

    img {
      display: flex;
      width: 50px;
      height: 50px;
      justify-content: center;
      align-items: center;
      padding: 10px 10px;
      border: 1px solid $light-gray;
      background-color: $background-clr;
      margin-top: 5px;
      border-radius: 12px;
    }

    li {
      display: flex;
      justify-content: space-around;
      justify-content: flex-start;
      font-weight: 500;
      color: $black2;
      font-size: 1em;
      line-height: 65px;
      gap: 10px;
      width: 350px;
      padding-left: 10px;

      &:hover {
        background-color: $light-gray;
        border-radius: 12px;
      }
    }
  }

  .input-group {
    position: relative;
    display: flex;
    align-items: flex-end;
    cursor: pointer;
    height: 100%;
    border-radius: 32px;
    width: 231px;

    & .search-header-destination {
      position: absolute;
      top: 10px;
      padding: 0 0 2px;
      left: 24px;
      font-size: 0.75em;
      font-weight: 600;
      color: #333;
      user-select: none;
    }

    & .search-btn-destination {
      cursor: pointer;
      padding: 20px 24px 10px 24px;
      height: inherit;
      width: 100%;
      border: none;
      outline: none;
      color: #717171;
      font-size: 0.875em;
      font-weight: 400;
      background-color: transparent;

      &:hover {
        background-color: $light-gray;
      }
    }

    &:not(:last-child)::after {
      content: "";
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      height: 50%;
      width: 1px;
      background-color: $light-gray;
    }

    &:last-of-type {
      border-right: none;
      margin-left: 5px;
      border-radius: 32px;
      width: 230px;
      display: flex;
      justify-content: space-between;

      &:focus {
        box-shadow: 2px 2px 2 2px rgba(106, 105, 105, 0.552);
        font-weight: 500;
        background-color: $light-gray;
        border: 1px solid rgba(238, 237, 237, 0.623);
      }
    }

    .search-btn-dates {
      width: 140px;
      padding-left: 10px;
    }

    input {
      border: none;
      outline: none;
      border-radius: 50px;
      font-size: 1em;
      height: 60px;
      width: 100%;

      &::placeholder {
        color: $main-gray;
        font-size: 0.875em;
      }

      &:focus {
        box-shadow: 2px 2px 2 2px rgba(106, 105, 105, 0.552);
        font-weight: 500;
        background-color: $light-gray;
        border: 1px solid rgba(238, 237, 237, 0.623);
      }

      &:hover {
        background-color: $light-gray;
      }
    }
  }

  & .search-btn {
    background-color: #ff385c;
    color: white;
    border: none;
    border-radius: 50px;
    font-size: 1em;
    cursor: pointer;
    outline: none;
    min-width: 50px;
    max-width: 100%;
    height: 48px;
    margin: 0;
    z-index: 11;
    position: absolute;
    margin-right: 10px;
    padding: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    & span {
      margin: 0;
      margin-left: 5px;
    }

    & i {
      font-size: 20px;
    }

    &:hover {
      background-color: darken(#ff385c, 10%);
    }
  }
}

.search-filter {
  & .pick-cal {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0;

    & div {
      display: flex;
      flex-direction: row;
      align-items: end;
      height: 60px;

      & .in-cal {
        display: flex;

        border-radius: 32px;
        cursor: pointer;
        padding: 14px 24px;
        position: relative;
        width: 140px;

        &:hover {
          background-color: $light-gray;

          &:hover::after {
            content: none;
          }
        }

        & .header-label-cal {
          position: absolute;
          top: -30px;
          padding: 0 0 2px;
          left: 24px;
          font-size: 12px;
          font-weight: 600;
          color: #333;
          user-select: none;
        }

        & .start-input-cal {
          border: none;
          outline: none;
          color: #717171;
          font-size: 14px;
          font-weight: 400;
          background-color: transparent;
        }

        &::after {
          content: "";
          position: absolute;
          right: 0;
          top: 50%;
          transform: translateY(-50%);
          height: 50%;
          width: 1px;
          background-color: $light-gray;
        }
      }

      & .out-cal {
        border-radius: 32px;
        display: flex;
        cursor: pointer;
        padding: 14px 24px;
        position: relative;
        width: 140px;

        &:hover {
          background-color: $light-gray;
        }

        &:hover::after {
          content: none;
        }

        &:hover+.in-cal::after {
          content: none;
        }

        & .header-label-cal {
          position: absolute;
          top: -30px;
          padding: 0 0 2px;
          left: 24px;
          font-size: 12px;
          font-weight: 600;
          color: #333;
          user-select: none;
        }

        & .end-input-cal {
          border: none;
          outline: none;
          color: #717171;
          font-size: 14px;
          font-weight: 400;
          background-color: transparent;
        }

        &::after {
          content: "";
          position: absolute;
          right: 0;
          top: 50%;
          transform: translateY(-50%);
          height: 50%;
          width: 1px;
          background-color: $light-gray;
        }
      }
    }
  }

  & .guests-section-search {
    border-radius: 32px;
    height: 60px;
    margin: 0;
    position: relative;
    display: flex;
    align-items: end;
    padding: 14px 24px;

    flex-grow: 1;

    &:hover {
      background-color: $light-gray;
    }

    & .header-label-gues {
      position: absolute;
      top: 8px;
      padding: 0 0 2px;
      left: 28px;
      font-size: 12px;
      font-weight: 600;
      color: #333;
      user-select: none;
    }

    & .search-btn-guests {
      padding-left: 5px;
      font-size: 14px;
      color: $main-gray;
      width: 109px;
    }
  }
}

.hr-line {
  border: none;
  height: 1px;
  background-color: $light-gray;
  width: 100%;
  position: absolute;
  left: 0;
  margin: 0;
}

// search-btn-destination // 231
// search-btn-dates // 140
// search-btn-guests // 231

@media (max-width:860px) {

  .maps-search {
    width: 100%;
    top: 0px;
    left: 0px;
    margin: 0px;
    z-index: 100;
    height: 500px;

    h5 {
      grid-area: 1/2;
      font-size: 1.5em;
      text-align: center;
    }

  }

  .min-filter {
    //  margin-right: 100px;
    margin-top: 70px !important;
  }


  .date-pick {
    width: 100%;
    top: 0px;
    margin: 0px;
    z-index: 100;
    padding: 10px;
    // height: 900px;

  }

  .react-datepicker {
    flex-direction: column;
    padding: 0px
  }

  .btn-next {
    display: block;
    width: 100%;
    margin-right: 5px;
    height: 48px;
    border-radius: 8px;
    font-size: 1em;
    font-weight: 500;
    transition: background-color 0.3s;
    color: white;
    background-color: rgb(255, 56, 92);
    cursor: pointer;
  }

  .btn-prev{
    display: block;
    width: 100%;
    margin-right: 5px;
    height: 48px;
    border-radius: 8px;
    font-size: 1em;
    font-weight: 500;
    transition: background-color 0.3s;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    cursor: pointer;
  }

  .datepicker-range-button {
    display: none;
  }

  .search-filter .input-group.guests-container {
    top: 0% !important;
    right: -10px !important;
    z-index: 100 !important;
  }


}