.stay-add {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  h2 {
    text-align: center;
    color: #333;
    margin-bottom: 30px;
  }

  .addStay {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .input,
    select {
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
      width: 100%;

      &:focus {
        border-color: #007bff;
        outline: none;
      }
    }

    textarea.input {
      height: 100px;
      resize: vertical;
    }

    label {
      font-weight: bold;
      margin-bottom: 5px;
    }

    .location-input,
    .radio-sort {
      display: flex;
      flex-direction: column;

      input {
        width: 100%;
        cursor: pointer;
      }
    }

    .radio-sort select {
      margin-top: 10px;
    }

    button {
      padding: 10px 20px;
      background-color: #007bff;
      color: #fff;
      border: none;
      border-radius: 5px;
      cursor: pointer;

      &:hover {
        background-color: darken(#007bff, 5%);
        cursor: pointer;
      }
    }
  }

  .multi-select {
    position: relative;
    font-family: Montserrat;

    .input,
    .selected-options-container {
      display: flex;
      cursor: pointer;
    }

    .options-container {
      display: none;
      position: absolute;
      top: 100%;
      width: 100%;

      left: 0;
      // width: 10%;
      background-color: white;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      border-radius: 8px;
      overflow: hidden;
      z-index: 10;

      &.open {
        display: block;
      }

      > * {
        padding: 10px;
        border-bottom: 1px solid #eee;
        cursor: pointer;
        transition: background-color 0.2s;

        &:hover {
          cursor: pointer;
        }

        &:last-child {
          border-bottom: none;
        }
      }
    }
  }
}
