.app-header-payment {
  height: 80px;
  box-shadow: rgb(235, 235, 235) 0px 1px 0px 0px;
  padding: 10px;
  grid-column: 1 /4;
}

.logo-img-payment {
  width: 150px;
  margin-top: 10px;
}

.main-payment-page {
  width: 1120px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  & .main-title-container {
    padding: 0 0 32px;

    & .main-title {
      font-size: 1.78em;
      font-weight: 600;
      color: #222222;
      padding: 64px 0 16px;
      margin: 0;
      width: 100%;
    }
  }

  & .payment-page {
    width: 100%;

    position: relative;
    display: flex;

    height: 100%;
    padding: 0;

    & .lay-pay {
      padding: 0;
      width: 560px;

      & .back-btn {
        position: absolute;
        top: -80px;
        left: -35px;
        font-size: 20px;
        width: 30px;

        .go-back-link-payment {
          text-decoration: none;
          left: -20px;
          margin-left: 8px;
        }

        &:hover {
          background-color: $main-gray-hover;
          border-radius: 50px;
        }
      }

      & .trip-title {
        margin-top: 0;
        margin-bottom: 0;
        padding-bottom: 24px;
        font-size: 1.375em;
        font-weight: 600;
        color: #222222;
      }

      & .da-title {
        font-size: 0.76em;
        padding: 0 0 24px;

        & h3 {
          margin: 0;
          padding: 0;
          color: #222222;
        }

        & h4 {
          font-weight: 300;
          margin: 8px 0 0;
          font-size: 1.17em;
        }
      }

      & .gu-title {
        font-size: 0.76em;
        padding: 0 0 24px;

        & h3 {
          margin: 0;
          padding: 0;
          color: #222222;
        }

        & h4 {
          font-weight: 300;
          margin: 8px 0 0;
          font-size: 1.17em;
        }
      }

      & .payment-hr {
        border: none;
        height: 1px;
        background-color: $light-gray;
        width: 50%;
        position: absolute;
        left: 0;
        margin: 0;
      }

      & .policy-title {
        border-top: 1px solid $light-gray;
        padding: 32px 0 24px;

        & h2 {
          font-size: 22px;
          color: #222222;
          font-weight: 600;
          margin: 18px 0;
        }

        & p {
          color: #222222;
          font-size: 16px;
        }
      }

      & .ground-title {
        margin: 0;
        border-top: 1px solid $light-gray;
        padding: 32px 0 24px;

        & h2 {
          font-size: 22px;
          color: #222222;
        }

        & p {
          margin-bottom: 16px;
          font-size: 1rem;
          color: #222222;
          //   font-weight: 400;
          letter-spacing: -0.8px;
        }

        & ul {
          padding: 0 0 0 18px;
          list-style-type: disc;
          font-size: 16px;

          & li::marker {
            font-size: 10px;
          }

          & li {
            font-size: 16px;
            margin-bottom: 0 0 8px;
            color: #222222;
          }
        }
      }

      & .calltoAction {
        border-top: 1px solid $light-gray;
        font-size: 12px;
        padding: 32px 0 0;
        margin: 0 0 88px;

        & p {
          color: #222222;

          padding: 0 0 24px 0;
        }

        & button {
          width: 204px;
          height: 56px;
          border-radius: 8px;
          font-size: 16px;
          font-weight: 600;
          transition: background-color 0.3s;
          text-align: center;
          background-color: rgb(255, 56, 92);
          color: whitesmoke;
          padding: 0;
          margin: 0;
        }
      }

      & .background-opacity {
        display: flex;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.642);
        z-index: 10;
        justify-content: center;
        align-items: center;

        & .payment-confrim-modal {
          z-index: 100;
          font-size: 14px;
          background-color: white;
          padding: 1em;
          border: 1px solid rgb(221, 221, 221);
          border-radius: 12px;
          box-shadow: rgba(0, 0, 0, 0.4) 0px 6px 16px;
          color: #222222;
          width: 900px;

          & .left-payment-modal-section {
            width: 500px;
            padding: 0 24px 0 24px;

            & .summery-payment-modal {
              .p-summery-payment {
                padding-bottom: 10px;
              }
            }

            & .stay-details-title-payment-modal {
              padding-top: 24px;
              border-top: 1px solid $light-gray;
            }

            & .img-cont {
              & img {
                width: 50%;
                margin-right: 35px;
                border-radius: 15px;
              }
            }

            & .stay-details-section-payment-modal {
              padding-left: 0;
              padding-bottom: 24px;
              border-bottom: 1px solid $light-gray;
            }
          }

          & .close-confirm-btn {
            padding: 0;

            & .close-btn-payment {
              background-color: $light-gray;
              color: $black2;
            }
            & button {
              width: 170px;
              height: 40px;
              border-radius: 8px;
              font-size: 18px;
              font-weight: 600;
              transition: background-color 0.3s;
              text-align: center;
              background-color: rgb(255, 56, 92);
              color: whitesmoke;
              padding: 0;
              margin: 0;
              margin-right: 5px;
            }
          }
        }

        & .title-container {
          display: flex;
          align-items: center;
          padding-right: 24px;

          & .second-section-payment-modal {
            box-shadow: rgba(0, 0, 0, 0.468) 0px 6px 16px 0px;
            padding: 24px 24px 24px 24px;
            border-radius: 12px;
          }
        }
      }
    }

    & .paymentModal {
      position: relative;
      top: 0;
      // width: 100%;
      padding: 0;
      margin: 0 0 0 93.3px;

      & .finishOrder {
        position: relative;
        // top: 150px;
        width: 100%;
        padding: 24px;
        margin: 0 0 50px;
        height: fit-content;
        border: 1px solid rgb(221, 221, 221);
        border-radius: 12px;
        box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px;

        & .title-container {
          & .total-price-final {
            font-weight: 600;
            font-size: 16px;
          }

          & .prices-final-tax {
            font-size: 16px;
          }

          & h2 {
            padding: 24px 0;
            font-size: 22px;
            font-weight: 600;
            margin: 0;
            color: #222222;
          }

          & hr {
            border: none;
            height: 1px;
            background-color: $light-gray;
          }

          & section {
            color: #222222;
          }
        }

        & .header-pay {
          border-bottom: 1px solid $light-gray;
          display: flex;
          align-items: center;
          padding: 0 0 24px;

          & .title {
            width: 300px;
            padding: 0 0 0 16px;

            & h4 {
              font-size: 16px;
              width: 100%;
              margin: 0;
              margin-bottom: 0 0 5px;
              color: #222222;
            }

            & span {
              color: #222222;
              font-size: 14px;
              margin: 0 0 5px;
            }

            & .rate-title {
              font-size: 14px;
              color: #222222;
            }
          }

          & .img-container {
            height: 110px;

            & img {
              border-radius: 12px;
              height: 100%;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1250px) {
  .payment-page {
    flex-direction: column-reverse;
    align-items: start;
    margin-left: 50px;
    margin: 0;
  }

  .finishOrder {
    position: relative;

  }

  .payment-page {
    & .paymentModal {
      top: 0;
      margin: 10px !important;
    }
  }

  .lay-pay {
    margin-left: 100px;
    & .back-btn {
      grid-column: 2;
      margin-left: 70px;
    }
  }

  .main-title-container {
    margin-left: 100px;
    width: 50%;
  }
  .main-payment-page { 
    width: 80%;
  }
}


@media (max-width: 900px)   { 
  .main-payment-page { 
    width:  100%;
  }

  .payment-page { 
    max-width: 50%;
  }

.credit-card-input{ 
  max-width: 70%;
}
.ground-title, .calltoAction { 
  width: 90%;
}

.back-btn { 
  margin-left: 50px;
}
.logo-img-payment {
  display: block !important;
}
}

@media (max-width:600px) { 
  .credit-card-input{ 
    max-width: 50%;
  }
.lay-pay { 
  margin-left: 20px;
}
.main-title-container { 
  margin-left: 50px;
}
.back-btn{
 margin-left: 50px !important;
}

p{ 
  width: 50%;
}
.finishOrder { 
  padding: 0px!important;
}
}