

.payment-page{
    display: flex;

}

.paymentModal{
    position: sticky;
    width: max-content;
    height: fit-content;
    border: 1px solid rgb(221, 221, 221);
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px;
    img{
        border-radius: 12px;
    }
}

.header-pay{
    display: flex;
    img{
        width: 150px;
        // height: 125px;
    }
}