.details-layout {
  display: grid;
  grid-template-columns: 1fr 1120px 1fr;

  > * {
    grid-column: 2;

    &.full {
      grid-column: 1 /-1;
    }
  }

  .main-header-details {
    height: 60px;
  }

  .stay-name-details {
    padding-left: 10px;
    font-size: 26px;
    font-weight: 600;
  }

  .header-buttons-section {
    display: flex;
    align-items: center;

    & button {
      background-color: white;
      color: $black2;
      height: 40px;

      span {
        text-decoration: underline;
      }

      &:hover {
        background-color: $main-gray-hover;
        border-radius: 8px;
      }
    }
  }

  //**Gallery section  **//
  .gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto;
    gap: 10px;
    cursor: pointer;
  }

  .gallery img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  .gallery img:hover {
    transform: scale(1.01);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  /* Larger image on the left */
  .gallery img:first-child {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
  }

  /* Make the gallery responsive */
  @media (max-width: 1440px) {
    .gallery {
      grid-template-columns: repeat(3, 1fr);
    }

    .gallery img:first-child {
      grid-column: 1 / span 2;
    }
  }

  @media (max-width: 768px) {
    .gallery {
      grid-template-columns: 1fr;
    }

    .gallery img:first-child {
      grid-column: 1;
      grid-row: 1;
    }
  }
}

/*main part of the app after gallery*/
.main-details {
  display: flex;
  justify-content: space-between;

  .main-user-host {
    flex-grow: 1;
  }

  .host-things {
    width: 600px;
  }

  .border {
    border: 1px solid rgb(221, 221, 221);
    border-radius: 12px;
  }

  .second-title-details {
    font-size: 22px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
      Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 600;
    margin-bottom: 5px;
  }

  .house-details {
    margin-bottom: 20px;
    font-size: 16px;
    span {
      margin-left: 3px;
      margin-right: 5px;
    }
  }

  .reviews-details-stars {
    text-align: center;
    width: 100px;
    font-size: 18px;
    font-weight: 500;
  }
  .stars-details {
    font-size: 14px;
  }
  .num-reviews {
    font-weight: 500;
    font-size: 18px;
  }
  .reviews-span {
    font-weight: 500;
    font-size: 12px;
    text-decoration: underline;
    font-weight: 700;
  }
}

/*payment modal */
.payment-modal {
  position: sticky;
  width: max-content;
  height: fit-content;
  border: 1px solid rgb(221, 221, 221);
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px;
  padding: 24px;
}

/*User modal */

.details-user {
  .host-things {
    padding: 20px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
  }
}

.review-usr {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*User modal */

.host-details {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 25px 0px;
}

.hr-line-details {
  margin-top: 0;
  margin-bottom: 20px;
  margin-right: 150px;
}

.host-short {
  display: flex;
  flex-direction: column;

  p {
    font-size: 14px;
  }
  h4 {
    margin: 0;
    font-size: 16px;
  }
}

.more-details {
  font-weight: 500;
  div {
    margin-bottom: 20px;
    span {
      margin-right: 10px;
    }
    i {
      font-size: 24px;
    }
  }
}

.details-description {
  width: 600px;
  font-size: 16px;
  font-weight: 400;
  padding-bottom: 35px;
  padding-top: 15px;
}

/*Amenities Section*/

.amenities-container {
  padding: 48px 0;
  .amenities-title {
    font-size: 22px;
    font-weight: 700;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
      Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }

  .amenities-icons-section {
    padding-bottom: 20px;

    i {
      margin-right: 10px;
    }

    p {
      padding-bottom: 16px;
    }
  }
  .fa-airbnb {
    color: red;
    font-size: 20px;
  }

  button {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(34, 34, 34);
    font-weight: 600;
    padding: 13px;
    border-radius: 8px;
    color: $black2;
    font-size: 16px;

    &:hover {
      background-color: $main-gray-hover;
    }
  }
}

.title-dates-details {
  margin: 0;
}

.guest-lover {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  width: 600px;
  margin: auto;

  img {
    padding-top: 20px;
    width: 400px;
  }

  h2 {
    margin-bottom: 10px;
    font-family: sans-serif;
  }
  .user-line-description {
    padding-top: 0;
    padding-bottom: 20px;
  }
}

/*Reviews section */
.review-container {
  .review-by-user {
    width: 600px;
    margin-bottom: 20px;
    p {
      font-size: 14px;
    }
    .by-details {
      display: flex;
      align-items: center;
      gap: 24px;
      .name-user h4 {
        margin: 0;
        font-size: 16px;
      }
      .name-user {
        font-size: 14px;
      }
    }
  }
  .comment {
    display: flex;
    flex-direction: column;

    p {
      margin: 0;
    }
  }
}

.review-btn-details {
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(34, 34, 34);
  font-weight: 600;
  padding: 13px;
  border-radius: 8px;
  color: $black2;
  font-size: 16px;

  &:hover {
    background-color: $main-gray-hover;
  }
}

.date-pick-details {
  margin-top: 0px;
  width: 100%;
  top: 0%;
  left: 0%;
  transform: 0;
  background-color: rgba(255, 255, 255, 0);
  border: 2px solid #dedede00;
  border-radius: 16px;
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0.1);
  padding-top: 48px;
  padding-bottom: 48px;
  padding-right: 20px;

  .react-datepicker {
    font-size: 0.8rem;
    background-color: #fff;
    color: #000;
    border: 0px solid #aeaeae00;
    border-radius: 0.3rem;
    display: inline-block;
    position: relative;
    line-height: initial;
    display: flex;
    justify-content: space-between;
  }
}

/*map reviews*/
.map-review-title {
  font-size: 22px;
  font-weight: 500;
  font-family: sans-serif;
}

.location-map-details {
  font-size: 16px;
  padding-top: 20px;
}
.circleRed {
  background-color: $clr1;
  padding: 10px;
  border-radius: 50px;
}

.line-payment {
  position: relative;
  padding: 0;
}

/*  LOADER */

.loader {
  width: 48px;
  height: 48px;
  margin: auto;
  margin-top: 50px;
  position: relative;
}

.loader:before {
  content: "";
  width: 48px;
  height: 5px;
  background: #f0808050;
  position: absolute;
  top: 60px;
  left: 0;
  border-radius: 50%;
  animation: shadow324 0.5s linear infinite;
}

.loader:after {
  content: "";
  width: 100%;
  height: 100%;
  background: #f08080;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 4px;
  animation: jump7456 0.5s linear infinite;
}

@keyframes jump7456 {
  15% {
    border-bottom-right-radius: 3px;
  }

  25% {
    transform: translateY(9px) rotate(22.5deg);
  }

  50% {
    transform: translateY(18px) scale(1, 0.9) rotate(45deg);
    border-bottom-right-radius: 40px;
  }

  75% {
    transform: translateY(9px) rotate(67.5deg);
  }

  100% {
    transform: translateY(0) rotate(90deg);
  }
}

@keyframes shadow324 {
  0%,
  100% {
    transform: scale(1, 1);
  }

  50% {
    transform: scale(1.2, 1);
  }
}
