.details-layout {
  display: grid;
  grid-template-columns: 1fr minmax(300px, 1120px) 1fr;
  font-family: Circular-Regular;

  >* {
    grid-column: 2;

    &.full {
      grid-column: 1 /-1;
    }
  }

  & .details-header-observer {
    position: sticky;
    top: 0;
    width: 111%;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    background-color: white;
    height: 80px;
    align-items: center;
    // justify-content: space-;
    z-index: 5;
    align-items: center;
    // grid-column: 1/-1;
    justify-self: center;
    border-bottom: 1px solid $light-gray;
    max-width: 100%;

    & .links-head {
      display: flex;
      justify-content: flex-start;

      list-style-type: none;
      padding: 0;

      & li {
        padding-right: 20px;

        & a {
          text-decoration: none;
          color: $black2;
          font-size: 0.875em;
        }
      }
    }

    & .res-head {
      display: grid;
      grid-column: 3;
      grid-template-rows: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
      width: 320px;
      height: 48px;
      padding-right: 40px;

      & button {
        grid-column: 2;
        grid-row: 1/-1;
        letter-spacing: 0.08em;
        width: 100%;
        margin-right: 5px;
        height: 48px;
        border-radius: 8px;
        font-size: 1em;
        font-weight: 500;
        color: white;
        background-color: #ff385c;
      }

      & .price-head {

        width: 100px;
        font-size: 1em;
        font-weight: 600;


        & span {
          font-size: 0.875em;
          font-weight: 500;
        }
      }

      & .star-head {
        font-size: 0.75em;
        font-weight: 500;
        width: 110px;

        & span {
          font-weight: 400;
        }

      }
    }
  }

  .main-header-details {
    height: 60px;
    margin: 0px;
  }

  .little-details {
    padding-top: 1em;
  }

  .stay-name-details {
    padding: 0px 0px 0px;
    font-size: 26px;
    font-weight: 600;
  }

  .header-buttons-section {
    display: flex;
    align-items: center;

    & button {
      background-color: white;
      color: $black2;
      height: 40px;

      span {
        text-decoration: underline;
      }

      &:hover {
        background-color: $main-gray-hover;
        border-radius: 8px;
      }
    }
  }

  //**Gallery section  *//
  .gallery {
    padding-top: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto;
    gap: 10px;
    cursor: pointer;
  }

  .gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    // border-radius: 8px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  .gallery img:hover {
    transform: scale(1.01);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }


  .gallery img:first-child {
    grid-column: 1 / span 2;
    border-radius: 10px 1px 1px 10px;
    width: 100%;
    height: 560px;
    grid-row: 1 / span 2;
  }

  .gallery img:nth-child(2) {
    grid-column: 3 / span 1;
    grid-row: 1 / span 1;
  }

  .gallery img:nth-child(3) {
    grid-column: 4 / span 1;
    grid-row: 1 / span 1;
    border-radius: 1px 10px 1px 1px;
  }

  .gallery img:last-child {


    border-radius: 1px 1px 10px 1px;
  }


  /* Make the gallery responsive */
  @media (max-width: 1300px) {
    .gallery {
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: auto auto;
    }

    // .gallery img:first-child {
    //   grid-row: 1 / span 2;
    // }
  }

  @media (max-width: 768px) {
    .gallery {
      grid-template-columns: 1fr;
    }

    .gallery img:first-child {
      grid-column: 1;
      grid-row: 1;
    }
  }
}

/*main part of the app after gallery*/
.main-details {
  display: flex;
  justify-content: space-between;

  .guest-favorite {
    width: 25%;
    padding: 0;

    img {
      width: fit-content;
    }
  }

  .main-user-host {
    width: 60%;
  }



  .border {
    border: 1px solid rgb(221, 221, 221);
    border-radius: 12px;
  }

  .second-title-details {
    font-size: 22px;
    font-family: Montserrat;
    font-weight: 600;
    margin-bottom: 5px;
  }

  .house-details {
    margin-bottom: 20px;
    font-size: 16px;

    span {
      margin-left: 3px;
      margin-right: 5px;
    }
  }

  .reviews-details-stars {
    text-align: center;
    width: 100px;
    font-size: 18px;
    font-weight: 500;
  }

  .stars-details {
    font-size: 14px;
  }

  .num-reviews {
    font-weight: 500;
    font-size: 18px;
  }

  .reviews-span {
    font-weight: 500;
    font-size: 12px;
    text-decoration: underline;
    font-weight: 700;
  }
}

/*payment modal */
// .payment-modal {

// }

/*User modal */

.details-user {
  .host-things {
    width: 90%;
    padding: 0.75em;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.review-usr {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*User modal */

.host-details {
  display: flex;
  gap: 20px;
  padding: 2em 0px 1.5em;
  border-bottom: 1px solid $light-gray;
}

.hr-line-details {
  margin-top: 0;
  margin-bottom: 20px;
  margin-right: 150px;
}

.host-short {
  display: flex;
  flex-direction: column;

  p {
    font-size: 14px;
  }

  h4 {
    margin: 0;
    font-size: 16px;
  }
}

.more-details {
  padding: 26px 16px 16px 0px;
  font-weight: 500;
  border-bottom: 1px solid $light-gray;


  div {
    margin-bottom: 26px;

    span {
      margin-right: 26px;
      margin-left: 14px;

    }

    i {
      font-size: 24px;
    }
  }
}

.details-description {
  width: 100%;
  font-size: 16px;
  font-weight: 400;
  padding-bottom: 35px;
  padding-top: 26px;
  border-bottom: 1px solid $light-gray;
}

/*Amenities Section*/

.amenities-container {
  padding: 24px 0 48px;
  border-bottom: 1px solid $light-gray;


  .amenities-title {
    font-size: 22px;
    font-weight: 700;
    font-family: Montserrat;
  }

  .amenities-icons-section {
    padding-bottom: 20px;

    .amen-p {
      margin-bottom: 15px;

      .amen-txt {
        margin-left: 10px;
      }
    }

    i {
      margin-right: 10px;
    }
  }

  .fa-airbnb {
    color: red;
    font-size: 20px;
  }

  button {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(34, 34, 34);
    font-weight: 600;
    padding: 13px;
    border-radius: 8px;
    color: $black2;
    font-size: 16px;

    &:hover {
      background-color: $main-gray-hover;
    }
  }
}

.title-dates-details {
  margin: 0;
}

.guest-lover {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  width: 600px;
  margin: auto;





  img {
    padding-top: 20px;
    width: 400px;
  }

  h2 {
    margin-bottom: 10px;
    font-family: Montserrat;
  }

  .user-line-description {
    padding-top: 0;
    padding-bottom: 20px;
  }
}

/*Reviews section */
.review-container {
  padding: 24px 0 48px;

  .review-by {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-top: 1px solid $light-gray;
  }


  border-bottom: 1px solid #dedede;
  // border-top: 1px solid $light-gray;


  .review-by-user {
    width: 41%;
    flex-basis: calc(50% - 10px);
    margin-bottom: 1.5em;
    margin-top: 1.75em;
    padding-right: 0.2em;
    padding: 1px;



    .by-details {
      display: flex;
      align-items: center;
      margin-bottom: 5px;

      .name-user {
        display: flex;
        flex-direction: column;
        margin-left: 10px;
        font-size: 16px;

        .user-name-review {
          margin: 0;
          color: #333;
        }

        span {
          color: #666;
          font-size: 14px;
        }
      }
    }

    p {
      color: #333;
      margin: 2px 0;
      margin-left: 2px;
      font-size: 14px;
      word-wrap: break-word;
      overflow-wrap: break-word;
    }

    .comment {

      // width: 10%;
      p {
        padding-inline-end: 80px;
        word-wrap: break-word;
        overflow-wrap: break-word;
      }

      & .text-show-more {

        text-decoration-line: underline;
        cursor: pointer;
        font-weight: 600;

      }
    }
  }
}

.review-btn-details {
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(34, 34, 34);
  font-weight: 600;
  padding: 13px;
  border-radius: 8px;
  color: $black2;
  font-size: 16px;


  &:hover {
    background-color: $main-gray-hover;
  }
}

.date-pick-details {
  margin-top: 0px;
  width: 100%;
  top: 0%;
  left: 0%;
  transform: 0;
  background-color: rgba(255, 255, 255, 0);
  border: 2px solid #dedede00;
  border-radius: 16px;
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0.1);
  padding-top: 48px;
  padding-bottom: 48px;
  padding-right: 20px;

  &.react-datepicker {
    font-size: 0.8rem;
    background-color: #fff;
    color: #000;
    border: 0px solid #aeaeae00;
    border-radius: 0.3rem;
    display: inline-block;
    position: relative;
    line-height: initial;
    display: flex;
    justify-content: space-between;
  }

}

.date-pick-details-one-month {
  margin-top: 0px;
  width: 100%;
  top: 0%;
  left: 0%;
  transform: 0;
  background-color: rgba(255, 255, 255, 0);
  border: 2px solid #dedede00;
  border-radius: 16px;
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0.1);
  padding-top: 48px;
  padding-bottom: 48px;
  padding-right: 20px;
  display: none;

  &.react-datepicker {
    font-size: 0.8rem;
    background-color: #fff;
    color: #000;
    border: 0px solid #aeaeae00;
    border-radius: 0.3rem;
    display: inline-block;
    position: relative;
    line-height: initial;
    display: flex;
    justify-content: space-between;
  }
}

@media(max-width:1200px) {
  .date-pick-details-one-month {
    display: block;
  }

  .date-pick-details {
    display: none;
  }
}

/*map reviews*/
.map-review-title {
  font-size: 22px;
  font-weight: 500;
  font-family: Montserrat;
  margin-top: 2em;
}

.location-map-details {
  font-size: 16px;
  padding-top: 20px;
}

.circleRed {
  background-color: $clr1;
  padding: 10px;
  border-radius: 50px;
}

.line-payment {
  position: relative;
  padding: 0;
}

/*  LOADER */

.loader {
  width: 48px;
  height: 48px;
  margin: auto;
  margin-top: 50px;
  position: relative;
}

.loader:before {
  content: "";
  width: 48px;
  height: 5px;
  background: #f0808050;
  position: absolute;
  top: 60px;
  left: 0;
  border-radius: 50%;
  animation: shadow324 0.5s linear infinite;
}

.loader:after {
  content: "";
  width: 100%;
  height: 100%;
  background: #f08080;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 4px;
  animation: jump7456 0.5s linear infinite;
}

@keyframes jump7456 {
  15% {
    border-bottom-right-radius: 3px;
  }

  25% {
    transform: translateY(9px) rotate(22.5deg);
  }

  50% {
    transform: translateY(18px) scale(1, 0.9) rotate(45deg);
    border-bottom-right-radius: 40px;
  }

  75% {
    transform: translateY(9px) rotate(67.5deg);
  }

  100% {
    transform: translateY(0) rotate(90deg);
  }
}

@keyframes shadow324 {

  0%,
  100% {
    transform: scale(1, 1);
  }

  50% {
    transform: scale(1.2, 1);
  }
}

.show-more-desc {
  padding-top: 1em;

  .text-show-more {
    text-decoration-line: underline;
    cursor: pointer;
    font-weight: 600;
  }
}

// .footer-container-details {
//   display: grid;
//   margin-top: 2em;
//   grid-template-columns: 1fr 1120px 1fr;
//   background-color: #f7f7f7;
//   border-top: 1px solid $light-gray;
// }

// .footer-details {
//   grid-column: 2 / 3;
//   display: grid;
//   grid-template-columns: repeat(3, 1fr);
//   gap: 1rem;
//   padding-right: 1rem;
//   color: #333;
// }

// .footer-section h1 {
//   margin-bottom: 1rem;
//   color: #333;
// }

// .footer-section ul {
//   list-style: none;
//   padding: 0;
// }

// .footer-section ul li {
//   margin-bottom: 0.5rem;
// }

// .footer-section ul li a {
//   color: #666;
//   text-decoration: none;
// }

// .footer-section ul li a:hover {
//   text-decoration: underline;
// }

// .airbnb-footer {
//   grid-column: 1 / -1;
//   height: 50px;
//   box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
// }