@font-face {
  font-family: caveat;
  src: url(../../fonts/Caveat/Caveat-Regular.ttf);
}
@font-face {
  font-family: montserrat;
  src: url(../../fonts/Montserrat/Montserrat-Regular.ttf);
}
@font-face {
  font-family: airbold;
  src: url(../../fonts/Airbnb_Bold.ttf);
}

@font-face {
  font-family: airbook;
  src: url(../../fonts/Airbnb_Book.ttf);
}

@font-face {
  font-family: airmedium;
  src: url(../../fonts/Airbnb_Medium.ttf);
}
