@font-face {
  font-family: caveat;
  src: url(../../fonts/Caveat/Caveat-Regular.ttf);
}
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@font-face {
  font-family: Circular-Regular;
  src: url(/src/assets/fonts/Circular-Regular.ttf);
}

@font-face {
  font-family: Circular-bold;
  src: url(/src/assets/fonts/Circular-Bold.ttf);
}

@font-face {
  font-family: Circular-medium;
  src: url(/src/assets/fonts/Circular-Medium.ttf);
}
