// Colors
$clr1: #ce2e6c;
$clr2: #4f3a65;
$clr3: #574f7d;
$clr4: #95adbe;
$clr5: #dff0ea;
$clr6: #fff;
$clr7: 000000;

//main-colors
$main-black: #000000;
$main-gray: #717171;
$light-gray: #dedede;
$light-gray2: #d7d6d6;
$main-white: #ffffff;
$main-red: #ff385c;
$black2: #222222;
$background-clr: #e8e7e7;

$light-white: #000000, opacity 0% COPY #ffffff, opacity 90%;

// LAYOUT
$layoutPadding: 20px;

// LAYOUT BREAKPOINTS
$mobile-breakpoint: 1200px;
$narrow-breakpoint: 1360px;
$normal-breakpoint: 1920px;
// Breakpoints
$padded-break-mobile: $mobile-breakpoint + $layoutPadding * 2;
$padded-break-normal: $narrow-breakpoint + $layoutPadding * 2;
$padded-break-wide: $normal-breakpoint + $layoutPadding * 2;
